.text-primary {
    color: #10ff00!important;
}

.font-weight-bold {
    font-weight: 700!important;
}
.pl-3, .px-3 {
    padding-left: 1rem!important;
}
.pr-3, .px-3 {
    padding-right: 1rem!important;
}
.mr-1, .mx-1 {
    margin-right: 0.25rem!important;
}
.border {
    border: 1px solid #dee2e6!important;
}
*, ::after, ::before {
    box-sizing: border-box;}
a{
        color: #ff2a00;
        text-decoration: none;
        background-color: transparent;
    }
.img-fluid {
        max-width: 100%;
        height: auto;
        transition: .5s;
    }
.text-reset:hover{
    padding-left: 10px;
}
.cat-item .cat-img img, .product-item .product-img img:hover {
    transition: .5s;
}
.container-fluid:hover{
transition: 5s;
}
.text-primary a {
    animation: doimauchu ease 1s infinite;
}

@keyframes doimauchu {
    0%{
        color: coral;
    }
    25%{
        color: #10ff00;
    }
    75%{
        color: red;
    }
    
}